<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to_do_list</title>
</head>
<body>
    <h1>Edit a Todo Item</h1>
    <p>This is my page where I'm going to show you my list</p>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>
    </form>
    
</body>
</html>